.elementor-1085
  .elementor-element.elementor-element-4be79d96
  > .elementor-container {
  min-height: 90vh;
}
.elementor-1085 .elementor-element.elementor-element-4be79d96 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor6);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1085
  .elementor-element.elementor-element-4be79d96
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-1085
  .elementor-element.elementor-element-7c42bd9c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1085
  .elementor-element.elementor-element-7c42bd9c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1085
  .elementor-element.elementor-element-7c42bd9c
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-1085
  .elementor-element.elementor-element-7c42bd9c:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-1085
  .elementor-element.elementor-element-7c42bd9c
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: var(--wpr-bg-2caca9ce-522d-469b-ab30-4003d549386b);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1085
  .elementor-element.elementor-element-7c42bd9c
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: var(--e-global-color-astglobalcolor6);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  text-align: center;
  margin: 0% 1% 0% 1%;
  --e-column-margin-right: 1%;
  --e-column-margin-left: 1%;
  padding: 5% 30% 5% 30%;
}
.elementor-1085
  .elementor-element.elementor-element-7c42bd9c
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1085
  .elementor-element.elementor-element-37d95a11
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor0);
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-container-full
  .wpforms-form
  ul.wpforms-image-choices-modern
  label,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-container
  select
  option {
  background-color: #ce595900;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  input[type="radio"]
  + label:before {
  background-color: #ce595900;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  input[type="radio"]:checked
  + label:before {
  background-color: #7a7a7a;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="radio"]:checked
  + label:before {
  box-shadow: inset 0px 0px 0px 4px #ce595900;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-label,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-page-indicator-steps,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-divider,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-divider
  h3,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-radio
  li
  label,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-payment-multiple
  li
  label,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-single-item-price,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-checkbox
  li
  label,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-payment-total,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-page-indicator-page-title,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-captcha
  .wpforms-field-label,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-likert_scale
  .wpforms-field-label,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-field-file-upload
  input[type="file"] {
  color: var(--e-global-color-astglobalcolor2);
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input::placeholder,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea::placeholder,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]:checked
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-likert_scale
  tbody
  tr
  th {
  color: var(--e-global-color-astglobalcolor2);
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field.wpforms-field-radio
  input[type="radio"]:checked
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field.wpforms-field-payment-multiple
  input[type="radio"]:checked
  + label:before {
  background-color: var(--e-global-color-astglobalcolor2);
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-required-label {
  color: var(--e-global-color-astglobalcolor0);
}
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  select,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description {
  border-width: 0 0 1px 0;
  border-style: solid;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  input[type="radio"]
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  ul.wpforms-image-choices-modern
  label,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  ul.wpforms-image-choices-modern
  label:hover {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  select,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  textarea {
  border-color: #00000042;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field
  input[type="radio"]
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-container-full
  .wpforms-form
  ul.wpforms-image-choices-modern
  label,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-form
  ul.wpforms-image-choices-modern
  label:hover {
  border-color: #00000042;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]):focus,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select:focus,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea:focus {
  border-color: var(--e-global-color-astglobalcolor0);
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]:checked
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="radio"]:checked
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-container-full
  .wpforms-form
  ul.wpforms-image-choices-modern
  .wpforms-selected
  label {
  border-color: var(--e-global-color-astglobalcolor0);
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-1085
  .elementor-element.elementor-element-609d9667.uael-wpf-style-underline
  .wpforms-container-full
  .wpforms-form
  ul.wpforms-image-choices-modern
  label {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  button[type="submit"],
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-page-button {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  label.wpforms-error {
  color: #ff0000;
}
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input::placeholder,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea::placeholder,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-1085
  .elementor-element.elementor-element-609d9667
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-likert_scale
  tbody
  tr
  th {
  font-family: "Bebas Neue", Sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 1024px) {
  .elementor-1085
    .elementor-element.elementor-element-4be79d96
    > .elementor-container {
    min-height: 65vh;
  }
  .elementor-1085
    .elementor-element.elementor-element-7c42bd9c
    > .elementor-element-populated {
    margin: 0% 2% 0% 2%;
    --e-column-margin-right: 2%;
    --e-column-margin-left: 2%;
    padding: 15% 15% 15% 15%;
  }
}
@media (max-width: 767px) {
  .elementor-1085
    .elementor-element.elementor-element-7c42bd9c
    > .elementor-element-populated {
    margin: 0% 4% 0% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
    padding: 26% 8% 30% 8%;
  }
  .elementor-1085
    .elementor-element.elementor-element-609d9667
    .uael-wpf-style
    .wpforms-form
    .wpforms-field,
  .elementor-1085
    .elementor-element.elementor-element-609d9667
    .uael-wpf-style
    .wpforms-field-address
    .wpforms-field-row {
    margin-bottom: 4px;
  }
  .elementor-1085
    .elementor-element.elementor-element-609d9667
    .uael-wpf-style
    .wpforms-container.inline-fields
    .wpforms-field-container
    .wpforms-field {
    padding-right: 4px;
  }
}
@media (min-width: 1025px) {
  .elementor-1085
    .elementor-element.elementor-element-7c42bd9c:not(.elementor-motion-effects-element-type-background)
    > .elementor-widget-wrap,
  .elementor-1085
    .elementor-element.elementor-element-7c42bd9c
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
