.elementor-976 .elementor-element.elementor-element-261282c5 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
}
.elementor-976 .elementor-element.elementor-element-120d6007 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-976 .elementor-element.elementor-element-6633edd7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-976 .elementor-element.elementor-element-542262e3 {
  text-align: center;
}
.elementor-976 .elementor-element.elementor-element-77c76b1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-976 .elementor-element.elementor-element-16cb61ab {
  text-align: center;
}
.elementor-976
  .elementor-element.elementor-element-5979d83d
  > .elementor-element-populated {
  padding: 0% 5% 0% 0%;
}
.elementor-976
  .elementor-element.elementor-element-10a866
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-976
  .elementor-element.elementor-element-10a866
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-976
  .elementor-element.elementor-element-10a866.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-976
  .elementor-element.elementor-element-10a866
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
.elementor-976
  .elementor-element.elementor-element-2b0a56be
  > .elementor-element-populated {
  padding: 0% 0% 0% 5%;
}
.elementor-976
  .elementor-element.elementor-element-7e55e6dd
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-976
  .elementor-element.elementor-element-7e55e6dd
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-976
  .elementor-element.elementor-element-7e55e6dd.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-976
  .elementor-element.elementor-element-7e55e6dd
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-976 .elementor-element.elementor-element-6633edd7 {
    --width: 50%;
  }
  .elementor-976 .elementor-element.elementor-element-77c76b1 {
    --width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-976 .elementor-element.elementor-element-5979d83d {
    width: 100%;
  }
  .elementor-976 .elementor-element.elementor-element-2b0a56be {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-976
    .elementor-element.elementor-element-5979d83d
    > .elementor-element-populated {
    padding: 0% 0% 3% 0%;
  }
  .elementor-976
    .elementor-element.elementor-element-2b0a56be
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
}
@media (max-width: 767px) {
  .elementor-976
    .elementor-element.elementor-element-5979d83d
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
}
