.elementor-959 .elementor-element.elementor-element-261dbcbd {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
}
.elementor-959 .elementor-element.elementor-element-71e730c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-959 .elementor-element.elementor-element-bf65df1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959 .elementor-element.elementor-element-d92c6c2 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959 .elementor-element.elementor-element-fa18d33 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959 .elementor-element.elementor-element-eca3af9 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959 .elementor-element.elementor-element-2ac6efb {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-959 .elementor-element.elementor-element-0acac1b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959
  .elementor-element.elementor-element-c93f64a
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-959
  .elementor-element.elementor-element-c93f64a
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-c93f64a.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-c93f64a
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
.elementor-959 .elementor-element.elementor-element-a389730 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959
  .elementor-element.elementor-element-ac1b73a
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-959
  .elementor-element.elementor-element-ac1b73a
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-ac1b73a.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-ac1b73a
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
.elementor-959 .elementor-element.elementor-element-55e6fdf {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959
  .elementor-element.elementor-element-cea080b
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-959
  .elementor-element.elementor-element-cea080b
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-cea080b.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-cea080b
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
.elementor-959 .elementor-element.elementor-element-3ffd8b9 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-959
  .elementor-element.elementor-element-e573079
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-959
  .elementor-element.elementor-element-e573079
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-e573079.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-959
  .elementor-element.elementor-element-e573079
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-959 .elementor-element.elementor-element-bf65df1 {
    --width: 25%;
  }
  .elementor-959 .elementor-element.elementor-element-d92c6c2 {
    --width: 25%;
  }
  .elementor-959 .elementor-element.elementor-element-fa18d33 {
    --width: 25%;
  }
  .elementor-959 .elementor-element.elementor-element-eca3af9 {
    --width: 25%;
  }
  .elementor-959 .elementor-element.elementor-element-0acac1b {
    --width: 25%;
  }
  .elementor-959 .elementor-element.elementor-element-a389730 {
    --width: 25%;
  }
  .elementor-959 .elementor-element.elementor-element-55e6fdf {
    --width: 25%;
  }
  .elementor-959 .elementor-element.elementor-element-3ffd8b9 {
    --width: 25%;
  }
}
