.elementor-973 .elementor-element.elementor-element-103f52c2 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
}
.elementor-973 .elementor-element.elementor-element-7be8c235 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-973 .elementor-element.elementor-element-33448427 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-973 .elementor-element.elementor-element-58173d4c {
  text-align: center;
}
.elementor-973 .elementor-element.elementor-element-4b37c680 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-973 .elementor-element.elementor-element-361fb528 {
  text-align: center;
}
.elementor-973
  .elementor-element.elementor-element-6e2ff52d
  > .elementor-element-populated {
  padding: 0% 5% 0% 0%;
}
.elementor-973
  .elementor-element.elementor-element-b065fa2
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-973
  .elementor-element.elementor-element-b065fa2
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-973
  .elementor-element.elementor-element-b065fa2.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-973
  .elementor-element.elementor-element-b065fa2
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
.elementor-973
  .elementor-element.elementor-element-e87be86
  > .elementor-element-populated {
  padding: 0% 0% 0% 5%;
}
.elementor-973
  .elementor-element.elementor-element-c469cf4
  .uael-price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.elementor-973
  .elementor-element.elementor-element-c469cf4
  .uael-price-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-973
  .elementor-element.elementor-element-c469cf4.uael-price-list__link-complete-yes
  a.uael-price-link-box:not(:last-child)
  .uael-price-list-item {
  margin-bottom: 32px;
}
.elementor-973
  .elementor-element.elementor-element-c469cf4
  .uael-price-list-description {
  margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-973 .elementor-element.elementor-element-33448427 {
    --width: 50%;
  }
  .elementor-973 .elementor-element.elementor-element-4b37c680 {
    --width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-973 .elementor-element.elementor-element-6e2ff52d {
    width: 100%;
  }
  .elementor-973 .elementor-element.elementor-element-e87be86 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-973
    .elementor-element.elementor-element-6e2ff52d
    > .elementor-element-populated {
    padding: 0% 0% 3% 0%;
  }
  .elementor-973
    .elementor-element.elementor-element-e87be86
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
}
@media (max-width: 767px) {
  .elementor-973
    .elementor-element.elementor-element-6e2ff52d
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
}
